@font-face {
	font-family: FontAwesome;
	src: url('font-awesome/fonts/fontawesome-webfont.woff');
}
body{
	font-family: 'Comfortaa', cursive;
	cursor: default;
	background-image: url("images/DSC_0187.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;     
}
a:link, a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #2079c7;
}
/* header */
/* header */
.logo {
	margin-top: 2%;
	text-align: center;
	font-size: 4em;
	text-shadow: 1px 1px 1px #fff;
	color: #fff;
	cursor: default;
}
/* Hero */
/* Hero */
.main {
	color: #fff;
	font-size: 3em;
}
.about-btn {
	position: fixed;
	top: 60%;
	right: 15%;
}
.works-btn {
	position: fixed;
	top: 70%;
	right: 15%;
}
.resume-btn {
	position: fixed;
	top: 80%;
	right: 15%;
}
.about-btn:hover, .works-btn:hover, .resume-btn:hover {
	text-shadow: 0 0 10px #00c6ff;
	cursor: pointer;
}
.about, .works, .resume{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 100;
	display: none;
}
.show {
	display: block;
}
.close {
	color: #fff;
	float: right;
	margin-top: 5%;
	margin-right: 5%;
	font-size: 2.5em;
	font-weight: bold;
	text-shadow: 0 0 5px #00c6ff;
	cursor: pointer;
}
/* About Content */
/* About Content */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
	border: 1px solid #ccc;
}
.flip-container:hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 320px;
	height: 427px;
}
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	background: url("images/Eric5.jpg") 0 0 no-repeat;
	background-size: cover;
	z-index: 2;
}
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background: #dfdfdf;
	background: url("images/Eric6.jpg") 0 0 no-repeat;
	background-size: cover;
}
.front .front-title {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 30px;
	left: 40%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.back-title {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 5%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
	transform: rotate(20deg);
}
.about-table {
	width: 100%;
	display: table;
	margin: auto;
	table-layout: fixed;
}
.about-left {
	width: 50%;
	padding-left: 20%;
	display: table-cell;
}
.about-right {
	width: 50%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.acontent {
	font-size: 1.5em;
	color: #fff;
	max-width: 600px;
	background-color: rgba(0, 0, 0, .1);
}
/* Works Content */
/* Works Content */
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
.portfolio {
	position: relative;
	float: left;
	overflow: hidden;
	border: 2px solid #ccc;
	margin: 10px 1%;
	max-width: 432px;
	max-height: 243px;
	width: 48%;
	height: auto;
	background: #1d6fa5;
	text-align: center;
	cursor: pointer;
}
.portfolio-img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}
.caption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	text-align: left;
	font-weight: 800;
}
.portfolio-img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
.caption:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}
.languages {
	position: absolute;
	right: 65px;
	bottom: 65px;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	letter-spacing: 1px;
	font-size: 20px;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.portfolio:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.portfolio:hover figcaption:before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}
.portfolio:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.descript {
	position: relative;
	top: 100px;
	width: 300px;
	height: 300px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	display: inline;
}
.hire {
	font-size: 18px;
	color: #888;
}
/* Resume */
/* Resume */
.page {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	width: 650px;
	height: 800px;
	background-color: #fff;
	color: #000;
	font-size: .8em;
	margin: 0 auto;
	font-family: "Merriweather", serif;
}
.page-header {
	position: relative;
	top: 0;
	margin: 0;
	height: 150px;
}
.phl {
	margin: 40px 40px 0;
	display: inline-block;
}
.phl-name {
	margin: 0;
	font-size: 3em;
}
.phl-content {
	margin: 0;
}
.phr {
	margin: 45px 20px 0;
	float: right;
}
.phr-content {
	margin: 0;
}
.content-left {
	margin: 0;
	width: 400px;
	height: 650px;
	display: inline-block;
}
.projects {
	margin-left:20px;
}
.italic {
	font-style: italic;
	font-weight: normal;
}
.title {
	color: #2079c7;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0 0 0 20px;
}
.sub-title {
	font-size: 1em;
	margin: 10px 0 0 20px;
}
.sub-content {
	margin: 0 0 0 20px;
}
.skills, .profiles {
	margin: 40px 0 0 20px;
}
.content-right {
	width: 230px;
	height: 650px;
	margin-right: 20px;
	float: right;
	display: inline-block;
}
.related, .awards {
	margin-top: 40px;
}
.bump-right {
	margin-top: 10px;
}
.award {
	margin-left: 20px;
	margin-bottom: 0;
	font-weight: bold;
}
/* Footer */
/* Footer */
.footer {
	position: fixed;
	width: 20%;
	height: 40px;
	left: 10px;
	bottom: 0;
}
.linkedin:before {
	font-family: "FontAwesome";
	content: '\f0e1';
	font-size: 24px;
	color: #fff;
}
.linkedin:hover:before {
	color: #00c6ff;
}
.github:before {
	font-family: "FontAwesome";
	content: '\f09b';
	font-size: 24px;
	color: #fff;
	position: fixed;
	left: 40px;
}
.github:hover:before {
	color: #00c6ff;
}
.email:before {
	font-family: "FontAwesome";
	content: '\f003';
	font-size: 24px;
	color: #fff;
	position: fixed;
	left: 70px;
}
.email:hover:before {
	color: #00c6ff;
}
